$black-rock: #091e42;
$black-primary: #1a202c;
$black-secondary: #4a5568;
$black-tertiary: #7c8698;
$black-2: #333333;
$g6: #45526c;
$g5: #7c8698;
$g4: #b4bac4;
$g3: #dfe1e6;
$g2: #f4f5f7;
$g1: #fafbfc;
$g7: #f8f8f8;
$g8: #666666;
$g10: #4a4a4a;
$g11: #5a5a5a;
$white: #ffffff;
$white_transclusent: #ffffff99;
$light-grey: #96a7c01a;
$mid-grey: #e3e8f4;

$blue: #4f8afb;
$blue-1: #2196f3;
$blue-2: #4d8af033;
$blue-3: #4d8af0;
$light-blue: #c4d8fe;
$lightest-blue: #ebf2ff;
$violet: #9473f2;
$violet400: #ac92f5;
$light-violet: #f3effe;
$green: #02a971;
$dull-green: rgba(34, 175, 115, 0.4);
$light-green: #dafff2;
$lightest-green: #eef6f3;
$red: #e32525;
$red400: #ee7a7a;
$tomato: #e95454;
$light-red: #fdecec;
$lightest-red: #fdecec;
$orange: #ffc107;
$mid-orange: #e77059;
$dark-orange: #e0482a;
$light-orange: #fffae3;
$lightest-orange: #fef8eb;
$yellow: #f6c444;
$yellow400: #f8d074;
$disabled: #dfe1e6;
$green-light: #7ed56f;
$green-dark: #28b485;
$green-2: #028d5e;
$purple: #b64f97;

$lp-yellow-light: #fcebc3;
$lp-yellow-dark: #f3b119;
$lp-green: #22af73;

$green-gradient: linear-gradient(90deg, #25a46e -0.32%, #0ad1ad 102.27%);
$red-gradient: linear-gradient(110.83deg, #fa8888 15.83%, #f82c4e 97.46%);
$green-gradient-sharp: linear-gradient(90deg, #11998e 0%, #38ef7d 110.27%);
$blue-gradient: linear-gradient(90deg, #2357ba -0.32%, #4992ff 60.41%);
$orange-gradient: linear-gradient(90deg, #f58823 0%, #ffcb48 110.27%);
$violet-gradient: linear-gradient(
	180deg,
	#f7ebf3 0%,
	rgba(255, 255, 255, 0) 100%
);

$green-overlay: linear-gradient(0deg, #e6f6f1 0%, rgba(255, 255, 255, 0) 100%);
$orange-overlay: linear-gradient(0deg, #fef8eb 0%, rgba(255, 255, 255, 0) 100%);
$purple-overlay: linear-gradient(0deg, #f7ebf3 0%, rgba(255, 255, 255, 0) 100%);
